.openModal {
    position: absolute;
    font-size: 25px;
    margin-top: 1.2%;
    transition-duration: 0.5s;
}

.openModal:hover {
    background-color: #4b4b4b;
    text-decoration: underline;
    text-decoration-thickness: 3.5px;
    text-decoration-color: rgb(180, 125, 0);
    cursor: pointer;
}

.modalArea {
    display: none;
    position: fixed;
    top: 15%;
    left: 48%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 30%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.fieldset-modal {
    color: black;
    font: bolder;
    font-size: larger;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    border: 3px solid rgb(84, 84, 84);
    z-index: 2;
}

.modalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 500px;
}

.item-resister-p {
    font-size: 25px;
}

a.to-item-read {
    font-size: 20px;
    color: black;
    right: 10%;
}

.item,
.explanation,
.price {
    font-size: 15px;
    margin-top: 1vh;
    margin-bottom: 1vh;

}

.item,
.price {
    width: 70vh;
    font-size: 17.5px;
    border: 1px solid rgb(80, 80, 80);
}

.explanation {
    width: 150vh;
    font-size: 17.5px;
    border: 1px solid rgb(80, 80, 80);
}

.resister_form_photo_A,
.resister_form_photo_B,
.resister_form_photo_C {
    font-size: 15px;
}

.submit-button-box {
    display: flex;
    justify-content: center;
}

.resister-button {
    font-size: 25px;
    font: bolder;
    color: white;
    background-color: #817f7f;
    border-color: black;
    padding: 5px 50px;
    margin-top: 10%;
    margin-bottom: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.resister-button:hover {
    background-color: orange;
    cursor: pointer;
}

.closeModal {
    font-size: 40px;
    font: bolder;
    color: black;
    position: absolute;
    top: 1%;
    right: -4%;
    cursor: pointer;
}