.modalEditArea {
    display: none;
    position: fixed;
    top: 0px;
    left: 200px;
    width: 0px;
    height: 0px;
    padding-top: 230px;
    z-index: 0;
}

.fieldset-edit-modal {
    color: black;
    font: bolder;
    font-size: larger;
    background-color: rgba(255, 255, 255, 0.9);
    border: 3px solid rgb(84, 84, 84);
}

.modalEdit {
    display: none;
    width: 1000px;
    height: 600px;
}

.modalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 500px;
}

.item,
.explanation,
.price {
    font-size: 15px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.item {
    width: 70vh;
    font-size: 17.5px;
}

.explanation {
    width: 150vh;
    font-size: 17.5px;
}

.price {
    width: 70vh;
    font-size: 17.5px;
}

.submit-button-box {
    display: flex;
    justify-content: center;
}

.resister-button {
    font-size: 25px;
    font: bolder;
    color: white;
    background-color: #817f7f;
    border-color: black;
    padding: 5px 50px;
    margin-top: 30px;
    margin-bottom: 20px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.resister-button:hover {
    background-color: orange;
    cursor: pointer;
}

.close {
    z-index: 10;
    position: fixed;
    color: black;
    font-size: 30px;
    /* background-color: aliceblue; */
    top: 3%;
    right: 5%;
    cursor: pointer;
}