body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
    font-family: Georgia;
    background-color: rgb(35, 35, 35);
    color: whitesmoke;
}

a:link,
a:visited {
    color: whitesmoke;
    text-decoration: none;
}

#header {
    background-color: rgb(35, 35, 35);
    position: fixed;
    z-index: 1;
    margin: 0 auto 0px auto;
    border-bottom: solid 2px #909090;
    top: 0;
}

.brand-logo {
    border: 0.5px solid #909090;
    width: 20%;
    height: auto;
    transition-duration: 0.5s;
    box-shadow: 2px 2px rgb(0, 0, 0);
    margin-top: 15px;
}

.brand-logo:hover {
    transform: scale(1.08, 1.08);
    cursor: pointer;
    border: 0.5px solid #909090;
}

.logo-box {
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    overflow: hidden;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -15px;
    margin-bottom: 5px;
}

nav .menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 60%;
    margin-left: 5%;
}

nav .login {
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 12%;
    margin-right: 5%;
}

.menu {
    font-size: 20px;
    display: flex;
}

.login {
    display: flex;
}

nav .menu li {
    margin-right: 3%;
}

.profiles {
    text-align: center;
}

#profile-photo {
    border-radius: 50%;
    width: 15vh;
    height: 15vh;
    object-fit: cover;
}

#output {
    margin-top: none;
    margin-bottom: none;
}

.menu-collection {
    text-decoration: underline;
    text-decoration-thickness: 3.5px;
    text-decoration-color: whitesmoke;
}

.menu-top,
.menu-collection,
.menu-archive,
.menu-category,
.menu-resister,
.login-login,
.login-contact {
    transition-duration: 0.5s;
}

.menu-top:hover,
.menu-collection:hover,
.menu-archive:hover,
.menu-category:hover,
.menu-resister:hover,
.login-login:hover,
.login-contact:hover {
    /* background-color: #4b4b4b; */
    text-decoration: underline;
    text-decoration-thickness: 3.5px;
    text-decoration-color: rgb(180, 125, 0);
    cursor: pointer;
}

.to-list-modal {
    padding-top: 6em;
    padding-bottom: 2em;
    margin-top: 9em;
}

.openModal {
    font-size: 25px;
    font: bolder;
    color: white;
    background-color: #817f7f;
    border-color: black;
    padding: 8px 50px;
    margin-top: 10%;
    margin-bottom: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.openModal:hover {
    background-color: orange;
    cursor: pointer;
}

.sort-conditions {
    float: right;
    margin-top: -1.5em;
}

.sort-expensive,
.sort-cheaper,
.sort-new,
.sort-old {
    transition-duration: 0.5s;
    margin-right: 10px;
}

.sort-expensive:hover,
.sort-cheaper:hover,
.sort-new:hover,
.sort-old:hover {
    text-decoration: underline;
    text-decoration-thickness: 3.5px;
    text-decoration-color: rgb(180, 125, 0);
    cursor: pointer;
}

.grid {
    width: 20vh;
    height: 35vh;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 25vh;
}

.grid>div {
    display: grid;
    place-items: center;
}

.each-grid {
    border-bottom: 1px solid white;
    /* border-right: 1px solid white; */
}

.box {
    display: flex;
    z-index: -100;
}

.item-title,
.item-explanation,
.item-price {
    z-index: -100;
}

.photo_A {
    width: 26.4vh;
    height: auto;
    border: 1px solid white;
}

.half-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.photo_B {
    width: 13vh;
    height: auto;
    border: 1px solid white;
}

.photo_C {
    width: 13vh;
    height: auto;
    border: 1px solid white;
}

.edit-delete-box {
    display: flex;
    margin-left: 55%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* 出力されるoutputの▶︎Eと▶︎D */
/* .openEditModal,
.item-delete {
    margin-left: 10%;
    transition-duration: 0.5s;
    border-radius: 20px;
}

.openEditModal:hover {
    background-color: orange;
    color: black;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid white;
}

.item-delete:hover {
    background-color: red;
    color: black;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid white;
} */

.openEditModal,
.item-delete {
    margin-left: 10%;
    padding-right: 0.2em;
    transition-duration: 0.5s;
    border-radius: 5px;
    border: 1px solid white;
}

.openEditModal:hover {
    /* background-color: orange; */
    /* color: black; */
    cursor: pointer;
    border-radius: 5px;
    border: 1.5px solid orange;
}

.item-delete:hover {
    /* background-color: red; */
    /* color: black; */
    cursor: pointer;
    border-radius: 5px;
    border: 1.5px solid red;
}

.openEditModal,
.item-delete {
    z-index: 0;
}

.fieldset-garage-sale {
    overflow: auto;
    padding-top: 3em;
    /*********** ▼掲載するgrid数に合わせて適宜調整▼ *************/
    height: 2500px;
    z-index: -1000;
}

/* スクロールバー非表示 */
::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.buttonLike {
    background-color: red;
    color: white;
    border-radius: 3px;
    font-size: 1em;
    width: auto;
    margin-top: 10px;
    cursor: pointer;
}

.no-like {
    background-color: white;
    color: black;
    border-radius: 3px;
    font-size: 1em;
    width: auto;
    margin-top: 10px;
    cursor: pointer;
}

.edit-dit-char-size,
.delete-elete-char-size {
    font-size: 0.6em;
}

.to-chat-space-button {
    font-size: x-large;
    position: fixed;
    font: bolder;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    width: 120px;
    height: 120px;
    border-radius: 80%;
    background-color: #817f7f;
    color: white;
    cursor: pointer;
    transition-duration: 0.5s;
}

.to-chat-space-button:hover {
    font-size: x-large;
    position: fixed;
    font: bolder;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: orange;
    color: white;
    cursor: pointer;
}

.wrapper-footer {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav {
    width: 100%;
}

nav .menu-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    border-top: solid 1px #909090;
    padding-top: 20px;
}

nav .menu-footer li {
    font-size: 12px;
    margin-right: 14px;
}

.copy-rights {
    color: rgb(180, 125, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    bottom: 0px;
    width: 100%;
}